---
import Layout from '../layouts/Layout.astro';


---

<Layout>
	<button id="button1">Api test</button>
</Layout>

<script>
	import { attachEventListener } from "../utils/utils";

	attachEventListener("#button1", "click", async () => {
		const response = await fetch("http://localhost:8000");
		const jsonResponse = await response.json();
		console.log(jsonResponse);
	});
</script>
